#                         ASSINGMENT 2    PDF 2.....

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [24]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.8.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [29]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [30]:
driver= webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [31]:
driver.get("https://www.naukri.com/")

In [32]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [33]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div[1]/div[1]/div/input")
location.send_keys('Banglore')

In [34]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [38]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [40]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [43]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [46]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [47]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [49]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [57]:
import pandas as pd

In [85]:
df=pd.DataFrame()
df['title']=job_title
df['company']=company_name
df['experience_required']=experience_required
df['location']=job_location
df

,title,company,experience_required,location
0,Data Analyst,Nityo Infotech,5-9 Yrs,Pune
1,Data Engineer/Data Analyst,Tech Mahindra,6-11 Yrs,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune..."
2,Data Analyst,ICICI Lombard,3-4 Yrs,Mumbai (All Areas)
3,Data Analyst,Ingersoll Rand,3-6 Yrs,Bangalore/Bengaluru
4,Data Analyst,Unusual Hire,1-4 Yrs,Bangalore/Bengaluru
5,Data Analyst - Contractual,Search Advisers Services Guj,2-3 Yrs,Bangalore/Bengaluru
6,Data Analyst - Contractual,Search Advisers Services Guj,2-3 Yrs,Bangalore/Bengaluru
7,ExcelHER-Data Analyst,Volvo Financial Services,3-5 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
8,Data Analyst,Gosource Digihub,0-1 Yrs,Mumbai (All Areas)(Indira Nagar +1)
9,Data Analyst,Clarivate,2-4 Yrs,Bangalore/Bengaluru

# ****QUES2  You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data

In [68]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [69]:
driver= webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [70]:
driver.get("https://www.naukri.com/")

In [71]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [72]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [73]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [28]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [29]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [30]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [31]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [32]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [33]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [15]:
import pandas as pd

In [16]:
df=pd.DataFrame()
df['title']=job_title
df['company']=company_name
df['experience_required']=experience_required
df['location']=job_location
df

,title,company,experience_required,location
0,Data Science Professional - IBM SPSS Statistic...,Hexaware Technologies,5-8 Yrs,"Noida, Mumbai, Pune, Chennai, Bangalore/Bengaluru"
1,Senior data scientist,Fractal Analytics,4-8 Yrs,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga..."
2,Data Scientist_NLP,Fractal Analytics,5-11 Yrs,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga..."
3,Data Scientist,Fractal Analytics,3-7 Yrs,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga..."
4,Machine Learning (AI) Architect,Persistent,5-12 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
5,Data Scientist,Cognizant,6-10 Yrs,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S..."
6,Data Scientist,Tech Mahindra,5-10 Yrs,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang..."
7,Data Scientist,Fortuna Entertainment Group,5-8 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
8,Senior Data Scientist,Corporate Steps,5-10 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
9,Junior Data Scientist,Analytos,0-2 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."

# *****QUES3 .....   Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. PricE
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data asusual.

In [87]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [88]:
driver= webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [89]:
driver.get("https://www.flipkart.com/")

In [90]:
A_name= driver.find_element(By.CLASS_NAME,"_3704LK")
A_name.send_keys('SunGlasses')

In [91]:
search_btn=driver.find_elements(By.XPATH,'//button[@class="L0Z3Pu"]')
search_btn

In [92]:
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [93]:
product_p=[]
brand_b=[]
price_P=[]

In [94]:
p_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in p_tags[0:30]:
    p=i.text
    product_p.append(p)

In [95]:
b_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in b_tags[0:30]:
    b=i.text
    brand_b.append(b)

In [96]:
P_tags=driver.find_elements(By.XPATH,'//div[@class="_25b18c"]')
for i in P_tags[0:30]:
    P=i.text
    price_P.append(P)

In [97]:
print(len(product_p),len(brand_b),len(price_P))

30 30 30

In [98]:
import pandas as pd

In [88]:
df=pd.DataFrame()
df['Product']=product_p
df['Brand']=brand_b
df['Price']= price_P
df

,Product,Brand,Price
0,Dervin,UV Protection Wayfarer Sunglasses (Free Size),"₹234₹1,49984% off"
1,Resist,Polarized Wayfarer Sunglasses (Free Size),"₹1,399₹3,99965% off"
2,SYGA,"UV Protection, Gradient Cat-eye Sunglasses (Fr...",₹199₹39950% off
3,Sundry,Gradient Retro Square Sunglasses (Free Size),"₹318₹1,49978% off"
4,Deluxe,UV Protection Round Sunglasses (48),₹199₹99980% off
5,DISNEY,"Gradient, UV Protection Butterfly Sunglasses (...",₹337₹49932% off
6,Els,"Mirrored, Night Vision Oval Sunglasses (Free S...",₹257₹79967% off
7,CRYSTAL CART,"Gradient, UV Protection Butterfly Sunglasses (...",₹190₹59968% off
8,Els,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹257₹99574% off
9,Els,"Gradient, UV Protection Cat-eye Sunglasses (Fr...",₹271₹99572% off
10,Els,"Polarized, UV Protection, Gradient, Riding Gla...",₹293₹99570% off
11,CRYSTAL CART,"Gradient, UV Protection Wayfarer Sunglasses (F...","₹311₹1,49979% off"
12,Els,"Gradient, UV Protection Butterfly Sunglasses (...",₹257₹99574% off
13,Els,"Gradient, UV Protection Cat-eye Sunglasses (Fr...",₹271₹99572% off
14,Els,UV Protection Wayfarer Sunglasses (Free Size),₹293₹79963% off
15,Dervin,"Gradient, UV Protection Cat-eye Sunglasses (Fr...","₹216₹1,49985% off"
16,Sundar Optical Collections,UV Protection Oval Sunglasses (44),"₹499₹2,26077% off"
17,Els,UV Protection Wayfarer Sunglasses (55),₹219₹79972% off
18,DISNEY,"UV Protection, Gradient Cat-eye Sunglasses (45)",₹479₹59920% off
19,Dervin,UV Protection Over-sized Sunglasses (Free Size),"₹265₹2,49989% off"
20,UZAK,"Gradient, UV Protection Round Sunglasses (Free...",₹322₹69953% off
21,GLAND,"Polarized, Riding Glasses, UV Protection Wayfa...","₹254₹1,19978% off"
22,Els,"Gradient, UV Protection Retro Square Sunglasse...",₹219₹79972% off
23,RESIST EYEWEAR,UV Protection Cat-eye Sunglasses (Free Size),"₹1,399₹4,99972% off"
24,GLAND,"UV Protection, Gradient Cat-eye Sunglasses (Fr...","₹254₹1,19978% off"
25,GLAND,"UV Protection, Gradient Round Sunglasses (Free...","₹254₹1,59984% off"
26,GLAND,Others Cat-eye Sunglasses (50),"₹254₹1,19978% off"
27,CRYSTAL CART,UV Protection Cat-eye Sunglasses (Free Size),"₹413₹1,99979% off"
28,PIRASO,"UV Protection, Mirrored, Gradient Wayfarer, Ro...","₹228₹1,59985% off"
29,asadinn,UV Protection Round Sunglasses (50),₹249₹79968% off

# ***QUES4  Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market 
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews

In [224]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [225]:
driver= webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [226]:
driver.get("https://www.flipkart.com/")

In [227]:
A_name= driver.find_element(By.CLASS_NAME,"_3704LK")
A_name.send_keys('IPHONE-11')

In [228]:
search_btn=driver.find_elements(By.XPATH,'//button[@class="L0Z3Pu"]')
search_btn

In [229]:
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [230]:
product_p=[]
rating_r=[]
review_R=[]

In [231]:
p_tags=driver.find_elements(By.XPATH,'//div[@class="_4rR01T"]')
for i in p_tags[0:20]:
    p=i.text
    product_p.append(p)

In [232]:
r_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK"]')
for i in r_tags[0:20]:
    r=i.text
    rating_r.append(r)

In [233]:
R_tags=driver.find_elements(By.XPATH,'//span[@class="_2_R_DZ"]')
for i in R_tags[0:20]:
    R=i.text
    review_R.append(R)

In [234]:
import pandas as pd

In [235]:
df=pd.DataFrame()
df['Product']=product_p
df['Rating']=rating_r
df['Review']= review_R
df

,Product,Rating,Review
0,"APPLE iPhone 11 (Black, 128 GB)",4.6,"1,89,523 Ratings & 11,027 Reviews"
1,"APPLE iPhone 11 (Black, 64 GB)",4.6,"1,89,523 Ratings & 11,027 Reviews"
2,"APPLE iPhone 11 (White, 64 GB)",4.6,"1,89,523 Ratings & 11,027 Reviews"
3,"APPLE iPhone 11 (Red, 128 GB)",4.6,"1,89,523 Ratings & 11,027 Reviews"
4,"APPLE iPhone 11 (White, 128 GB)",4.6,"1,89,523 Ratings & 11,027 Reviews"
5,"APPLE iPhone 11 (Red, 64 GB)",4.6,"1,89,523 Ratings & 11,027 Reviews"
6,"APPLE iPhone 11 (Green, 128 GB)",4.6,"1,89,523 Ratings & 11,027 Reviews"
7,"APPLE iPhone 11 (Purple, 128 GB)",4.6,"1,89,523 Ratings & 11,027 Reviews"
8,"APPLE iPhone 11 (Green, 64 GB)",4.6,"1,89,523 Ratings & 11,027 Reviews"
9,"APPLE iPhone 11 (Yellow, 64 GB)",4.6,"1,89,523 Ratings & 11,027 Reviews"
10,"APPLE iPhone 11 (Purple, 64 GB)",4.6,"1,89,523 Ratings & 11,027 Reviews"
11,"APPLE iPhone 11 (Yellow, 128 GB)",4.6,"1,89,523 Ratings & 11,027 Reviews"
12,"APPLE iPhone 6 (Silver, 16 GB)",4.4,"1,45,536 Ratings & 16,240 Reviews"
13,"APPLE iPhone 11 Pro Max (Midnight Green, 64 GB)",4.7,"1,097 Ratings & 100 Reviews"
14,"APPLE iPhone 11 Pro Max (Space Grey, 64 GB)",4.7,"1,097 Ratings & 100 Reviews"
15,"APPLE iPhone 11 Pro (Midnight Green, 64 GB)",4.6,"8,665 Ratings & 628 Reviews"
16,"APPLE iPhone 11 Pro (Space Grey, 256 GB)",4.6,"8,665 Ratings & 628 Reviews"
17,"APPLE iPhone 11 Pro Max (Gold, 64 GB)",4.7,"1,097 Ratings & 100 Reviews"
18,"APPLE iPhone 11 Pro (Gold, 512 GB)",4.6,"8,665 Ratings & 628 Reviews"
19,"APPLE iPhone 11 Pro (Silver, 512 GB)",4.6,"8,665 Ratings & 628 Reviews"

# ****QUES5..... Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. PRICE

In [181]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [171]:
driver= webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [172]:
driver.get("https://www.flipkart.com/")

In [173]:
A_name= driver.find_element(By.CLASS_NAME,"_3704LK")
A_name.send_keys('Sneakers')

In [174]:
search_btn=driver.find_elements(By.XPATH,'//button[@class="L0Z3Pu"]')
search_btn

In [175]:
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [176]:
product_p=[]
brand_b=[]
price_P=[]

In [177]:
p_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in p_tags[0:30]:
    p=i.text
    product_p.append(p)

In [178]:
b_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in b_tags[0:30]:
    b=i.text
    brand_b.append(b)

In [179]:
P_tags=driver.find_elements(By.XPATH,'//div[@class="_25b18c"]')
for i in P_tags[0:30]:
    P=i.text
    price_P.append(P)

In [180]:
df=pd.DataFrame()
df['Product']=product_p
df['Brand']=brand_b
df['Price']= price_P
df

,Product,Brand,Price
0,GVR,TRENDY SNEAKERS FROM GVR FOR MEN Sneakers For Men,"₹629₹2,09970% off"
1,RapidBox,Sneakers For Men,₹571₹99942% off
2,SFR,2006 Trenddy Fashion Sporty Casuals Sneakers R...,₹299₹71558% off
3,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹399₹99960% off
4,BIRDE,Combo Pack Of 2 Casual Shoes Sneakers For Men,₹499₹99950% off
5,AMICO,Sneakers For Men,"₹387₹1,07864% off"
6,BIRDE,Combo Pack of 2 Sports Sneakers For Men,"₹499₹1,49866% off"
7,RapidBox,Sneakers For Men,₹571₹99942% off
8,Labbin,Sneakers For Men,"₹379₹1,31071% off"
9,BIRDE,Combo Pack of 2 Casual Shoes Sneakers For Men,"₹499₹1,99875% off"
10,RapidBox,Sneakers For Men,₹571₹99942% off
11,BRUTON,Combo Pack Of 2 Casual Shoes Sneakers For Men ...,"₹499₹2,49980% off"
12,Kraasa,Sneakers For Women,₹299₹99970% off
13,BIRDE,Premium Sports Shoes For Men Pack Of 2 Sneaker...,"₹499₹1,99875% off"
14,BIRDE,Combo Pack of 2 Casual Shoe Sneakers For Men,₹499₹99850% off
15,aadi,Synthetic| Lightweight| Premiun| Comfort| Summ...,"₹349₹1,99982% off"
16,BRUTON,Combo Pack Of 2 Casual Shoes Sneakers For Men,"₹599₹2,49976% off"
17,Kraasa,Classic Sneakers For Men,₹599₹99940% off
18,aadi,Sneakers For Men,"₹349₹1,99982% off"
19,Magnolia,Modern Trendy Sneakers boot Sneakers Sneakers ...,"₹399₹1,29969% off"
20,New Balance,237 Sneakers For Men,"₹8,799₹10,99920% off"
21,BERSACHE,"Trendy Color Changing Casual Shoes| Walking,Gy...","₹698₹4,99986% off"
22,Magnolia,Sneakers For Men,"₹449₹1,29965% off"
23,RED TAPE,Sneakers For Men,"₹1,517₹6,89978% off"
24,EZDEZARIO,Sneakers For Men,₹429₹99957% off
25,Shozie,Stylish Sneakers Shoes for Women And Girls Sne...,₹499₹99950% off
26,BRUTON,Combo Pack Of 2 Casual Shoes Sneakers For Men,"₹499₹2,49980% off"
27,bacca bucci,JUPITER Men's Retro Color Blocked Light Weight...,"₹1,499₹2,99950% off"
28,AMICO,Sneakers For Men,"₹549₹1,07849% off"
29,World Wear Footwear,Latest Exclusive Affordable Collection of Tren...,"₹279₹1,99986% off"

# *****Ques6....Go to webpage https://www.flipkart.com/ Enter “Laptop” in the search field and then click the search icon. Then 
set CPU Type filter to “Intel Core i7”...
after setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [240]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [241]:
driver= webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [242]:
driver.get("https://www.flipkart.com/")

In [243]:
A_name= driver.find_element(By.CLASS_NAME,"_3704LK")
A_name.send_keys('Laptop')

In [244]:
search_btn=driver.find_elements(By.XPATH,'//button[@class="L0Z3Pu"]')
search_btn

In [245]:
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [246]:
product_p=[]
rating_r=[]
price_P=[]

In [247]:
p_tags=driver.find_elements(By.XPATH,'//div[@class="_4rR01T"]')
for i in p_tags[0:10]:
    p=i.text
    product_p.append(p)

In [248]:
r_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK"]')
for i in r_tags[0:10]:
    r=i.text
    rating_r.append(r)

In [249]:
P_tags=driver.find_elements(By.XPATH,'//div[@class="_25b18c"]')
for i in P_tags[0:10]:
    P=i.text
    price_P.append(P)

In [250]:
import pandas as pd

In [251]:
df=pd.DataFrame()
df['Product']=product_p
df['Rating']=rating_r
df['Price']= price_P
df

,Product,Rating,Price
0,Lenovo V15 G2 Core i3 11th Gen - (8 GB/1 TB HD...,4.3,"₹40,490\n₹59,39031% off"
1,acer Aspire 5 Ryzen 7 Octa Core 5700U - (8 GB/...,5,"₹55,990\n₹79,99930% off"
2,Lenovo Intel Celeron Dual Core - (8 GB/256 GB ...,4.1,"₹29,490\n₹40,49027% off"
3,ASUS TUF Gaming F15 Core i5 10th Gen - (8 GB/5...,4.4,"₹51,990\n₹70,99026% off"
4,ASUS VivoBook 14 (2021) Celeron Dual Core - (4...,4.1,"₹21,990\n₹33,99035% off"
5,APPLE 2020 Macbook Air M1 - (8 GB/256 GB SSD/M...,4.7,"₹84,990\n₹99,90014% off"
6,MSI Bravo 15 Ryzen 5 Hexa Core AMD R5-5600H - ...,4.4,"₹49,990\n₹72,99031% off"
7,Infinix X1 Slim Series Core i5 10th Gen - (16 ...,4.1,"₹38,990\n₹64,99940% off"
8,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen -...,4.3,"₹33,490\n₹59,39043% off"
9,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen -...,4.3,"₹36,158\n₹68,79047% off"

# *****QUES7...Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuoteS
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver= webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [3]:
driver.get("https://www.azquotes.com/")

In [4]:
A_name= driver.find_element(By.CLASS_NAME,"mainmenu")
A_name

In [5]:
author_c=driver.find_elements(By.XPATH,'//a[@ref="quotes/authors.html"]
author_c.click()

SyntaxError: EOL while scanning string literal (2245130020.py, line 1)

In [28]:
quote_q=[]
author_a=[]

In [6]:
q_tags=driver.find_elements(By.XPATH,'//div[@class="title"]')
for i in q_tags[0:10]:
    q=i.text
    quote_q.append(q)

NameError: name 'quote_q' is not defined

In [ ]:
a_tags=driver.find_elements(By.XPATH,'//div[@class="q_user"]')
for i in a_tags[0:10]:
    a=i.text
    author.a.append(a)