#       ASSINGMENT 4 PDF 4...

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.8.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

# QuUES1...... Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.By import by
import time

In [4]:
# Activating the chrome browser
driver = webdriver.Chrome(r"C:\Users\Admin\Documents\data trained.exe")

In [129]:
url_1="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"

In [130]:
driver.get(url_1)

In [131]:
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [132]:
search_1 = driver.find_element_by_xpath('//*[@id="noarticletext"]/tbody/tr/td/span/a')       
search_1.click()

In [133]:
search_2 = driver.find_element_by_xpath('//*[@id="mw-content-text"]/div[3]/ul/li[1]/div[1]/a')        
search_2.click()

In [134]:
rk=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[1]")
for i in rk:
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)
print(len(Rank),Rank)

30 ['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.']

In [135]:
nm=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[2]")
for i in nm:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
print(len(Name),Name)

30 ['"Baby Shark Dance"[28]', '"Despacito"[30]', '"Shape of You"[31]', '"See You Again"[32]', '"Johny Johny Yes Papa"[35]', '"Masha and the Bear – Recipe for Disaster"[36]', '"Uptown Funk"[37]', '"Gangnam Style"[38]', '"Learning Colors – Colorful Eggs on a Farm"[40]', '"Bath Song"[41]', '"Phonics Song with Two Words"[42]', '"Sorry"[43]', '"Sugar"[44]', '"Roar"[45]', '"Counting Stars"[46]', '"Thinking Out Loud"[47]', '"Dame Tu Cosita"[48]', '"Shake It Off"[49]', '"Faded"[50]', '"Lean On"[51]', '"Bailando"[52]', '"Dark Horse"[53]', '"Girls Like You"[54]', '"Let Her Go"[55]', '"Mi Gente"[56]', '"Hello"[57]', '"Perfect"[58]', '"Waka Waka (This Time for Africa)"[59]', '"Blank Space"[60]', '"Chantaje"[61]']

In [136]:
Ar=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[3]")
for i in Ar:
    if i.text is None :
        Artist.append("--") 
    else:
        Artist.append(i.text)
print(len(Artist),Artist)

30 ["Pinkfong Kids' Songs & Stories", 'Luis Fonsi featuring Daddy Yankee', 'Ed Sheeran', 'Wiz Khalifa featuring Charlie Puth', 'LooLoo Kids', 'Get Movies', 'Mark Ronson featuring Bruno Mars', 'Psy', 'Miroshka TV', 'Cocomelon – Nursery Rhymes', 'ChuChu TV', 'Justin Bieber', 'Maroon 5', 'Katy Perry', 'OneRepublic', 'Ed Sheeran', 'El Chombo featuring Cutty Ranks', 'Taylor Swift', 'Alan Walker', 'Major Lazer and DJ Snake featuring MØ', 'Enrique Iglesias featuring Descemer Bueno and Gente De Zona', 'Katy Perry featuring Juicy J', 'Maroon 5 featuring Cardi B', 'Passenger', 'J Balvin and Willy William', 'Adele', 'Ed Sheeran', 'Shakira featuring Freshlyground', 'Taylor Swift', 'Shakira featuring Maluma']

In [137]:
 date=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[5]")
for i in date:
    if i.text is None :
        Upload_Date.append("--") 
    else:
        Upload_Date.append(i.text)
print(len(Upload_Date),Upload_Date)

30 ['June 17, 2016', 'January 12, 2017', 'January 30, 2017', 'April 6, 2015', 'October 8, 2016', 'January 31, 2012', 'November 19, 2014', 'July 15, 2012', 'February 27, 2018', 'May 2, 2018', 'March 6, 2014', 'October 22, 2015', 'January 14, 2015', 'September 5, 2013', 'May 31, 2013', 'October 7, 2014', 'April 5, 2018', 'August 18, 2014', 'December 3, 2015', 'March 22, 2015', 'April 11, 2014', 'February 20, 2014', 'May 31, 2018', 'July 25, 2012', 'June 29, 2017', 'October 22, 2015', 'November 9, 2017', 'June 4, 2010', 'November 10, 2014', 'November 18, 2016']

In [138]:
#scraping the Views 
v=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[4]")
for i in v:
    if i.text is None :
        Views.append("--") 
    else:
        Views.append(i.text)
print(len(Views),Views)

30 ['7.91', '7.20', '5.18', '4.96', '4.77', '4.41', '4.09', '3.97', '3.69', '3.64', '3.53', '3.40', '3.39', '3.27', '3.19', '3.18', '3.11', '3.02', '2.98', '2.97', '2.97', '2.97', '2.96', '2.91', '2.86', '2.79', '2.74', '2.74', '2.72', '2.62']

In [139]:
Youtube_Video=pd.DataFrame([])
Youtube_Video['Rank']=Rank
Youtube_Video['Video Title']=Name
Youtube_Video['Artist']=Artist
Youtube_Video['Upload_Date']=Upload_Date
Youtube_Video['Views In Bllion']=Views
Youtube_Video

,Rank,Video Title,Artist,Upload_Date,Views In Bllion
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,"June 17, 2016",7.91
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,"January 12, 2017",7.20
2,3.,"""Shape of You""[31]",Ed Sheeran,"January 30, 2017",5.18
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,"April 6, 2015",4.96
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,"October 8, 2016",4.77
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.41
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,"November 19, 2014",4.09
7,8.,"""Gangnam Style""[38]",Psy,"July 15, 2012",3.97
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,"February 27, 2018",3.69
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.64
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,"March 6, 2014",3.53
11,12.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.40
12,13.,"""Sugar""[44]",Maroon 5,"January 14, 2015",3.39
13,14.,"""Roar""[45]",Katy Perry,"September 5, 2013",3.27
14,15.,"""Counting Stars""[46]",OneRepublic,"May 31, 2013",3.19
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,"October 7, 2014",3.18
16,17.,"""Dame Tu Cosita""[48]",El Chombo featuring Cutty Ranks,"April 5, 2018",3.11
17,18.,"""Shake It Off""[49]",Taylor Swift,"August 18, 2014",3.02
18,19.,"""Faded""[50]",Alan Walker,"December 3, 2015",2.98
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,"March 22, 2015",2.97
20,21.,"""Bailando""[52]",Enrique Iglesias featuring Descemer Bueno and ...,"April 11, 2014",2.97
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,"February 20, 2014",2.97
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,"May 31, 2018",2.96
23,24.,"""Let Her Go""[55]",Passenger,"July 25, 2012",2.91
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,"June 29, 2017",2.86
25,26.,"""Hello""[57]",Adele,"October 22, 2015",2.79
26,27.,"""Perfect""[58]",Ed Sheeran,"November 9, 2017",2.74
27,28.,"""Waka Waka (This Time for Africa)""[59]",Shakira featuring Freshlyground,"June 4, 2010",2.74
28,29.,"""Blank Space""[60]",Taylor Swift,"November 10, 2014",2.72
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,"November 18, 2016",2.62

# ****QUES2..... Scrape the details teamIndia’sinternationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [120]:
url_2="https://www.bcci.tv/international/fixtures"

In [121]:
driver.get(url_2)

In [122]:
Team=[]
Date_Time =[]
Ground=[]
Test_ODI=[]

In [123]:
tm=driver.find_elements_by_xpath("//div[@class='fixture__teams']")
for i in tm:
    if i.text is None :
        Team.append("--") 
    else:
        Team.append(i.text)
print(len(Team),Team)

16 ['INDIA\nENGLAND\nLIVE', 'INDIA\nENGLAND', 'INDIA\nENGLAND', 'INDIA\nENGLAND', 'INDIA\nENGLAND', 'INDIA\nENGLAND', 'INDIA\nENGLAND', 'INDIA\nENGLAND', 'INDIA\nENGLAND', 'INDIA\nENGLAND', 'INDIA\nENGLAND', 'ENGLAND\nINDIA', 'ENGLAND\nINDIA', 'ENGLAND\nINDIA', 'ENGLAND\nINDIA', 'ENGLAND\nINDIA']

In [124]:
DT=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")
for i in DT:
    if i.text is None :
        Date_Time.append("--") 
    else:
        Date_Time.append(i.text)
print(len(Date_Time),Date_Time)

16 ['Saturday 13 February 09:30 IST', 'Wednesday 24 February 14:30 IST', 'Thursday 4 March 09:30 IST', 'Friday 12 March 19:00 IST', 'Sunday 14 March 19:00 IST', 'Tuesday 16 March 19:00 IST', 'Thursday 18 March 19:00 IST', 'Saturday 20 March 19:00 IST', 'Tuesday 23 March 13:30 IST', 'Friday 26 March 13:30 IST', 'Sunday 28 March 13:30 IST', 'Wednesday 4 August 15:30 IST', 'Thursday 12 August 15:30 IST', 'Wednesday 25 August 15:30 IST', 'Thursday 2 September 15:30 IST', 'Friday 10 September 15:30 IST']

In [126]:
G=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in G:
    if i.text is None :
        Ground.append("--") 
    else:
        Ground.append(i.text)
print(len(Ground),Ground)

16 ['M. A. Chidambaram Stadium, Chennai', 'Sardar Patel Stadium, Ahmedabad', 'Sardar Patel Stadium, Ahmedabad', 'Sardar Patel Stadium, Ahmedabad', 'Sardar Patel Stadium, Ahmedabad', 'Sardar Patel Stadium, Ahmedabad', 'Sardar Patel Stadium, Ahmedabad', 'Sardar Patel Stadium, Ahmedabad', 'Maharashtra Cricket Association Stadium, Pune', 'Maharashtra Cricket Association Stadium, Pune', 'Maharashtra Cricket Association Stadium, Pune', 'Trent Bridge, Nottingham', "Lord's, London", 'Headingley, Leeds', 'The Oval, London', 'Old Trafford, Manchester']

In [127]:
TO=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")
for i in TO:
    if i.text is None :
        Test_ODI.append("--") 
    else:
        Test_ODI.append(i.text)
print(len(Test_ODI),Test_ODI)

16 ['2nd Test', '3rd Test', '4th Test', '1st T20I', '2nd T20I', '3rd T20I', '4th T20I', '5th T20I', '1st ODI', '2nd ODI', '3rd ODI', '1st Test', '2nd Test', '3rd Test', '4th Test', '5th Test']

In [128]:
International_Fixtures=pd.DataFrame([])
International_Fixtures['Team']=Team
International_Fixtures['Date_Time']=Date_Time
International_Fixtures['Series']=Test_ODI
International_Fixtures['Ground']=Ground
International_Fixtures

,Team,Date_Time,Series,Ground
0,INDIA\nENGLAND\nLIVE,Saturday 13 February 09:30 IST,2nd Test,"M. A. Chidambaram Stadium, Chennai"
1,INDIA\nENGLAND,Wednesday 24 February 14:30 IST,3rd Test,"Sardar Patel Stadium, Ahmedabad"
2,INDIA\nENGLAND,Thursday 4 March 09:30 IST,4th Test,"Sardar Patel Stadium, Ahmedabad"
3,INDIA\nENGLAND,Friday 12 March 19:00 IST,1st T20I,"Sardar Patel Stadium, Ahmedabad"
4,INDIA\nENGLAND,Sunday 14 March 19:00 IST,2nd T20I,"Sardar Patel Stadium, Ahmedabad"
5,INDIA\nENGLAND,Tuesday 16 March 19:00 IST,3rd T20I,"Sardar Patel Stadium, Ahmedabad"
6,INDIA\nENGLAND,Thursday 18 March 19:00 IST,4th T20I,"Sardar Patel Stadium, Ahmedabad"
7,INDIA\nENGLAND,Saturday 20 March 19:00 IST,5th T20I,"Sardar Patel Stadium, Ahmedabad"
8,INDIA\nENGLAND,Tuesday 23 March 13:30 IST,1st ODI,"Maharashtra Cricket Association Stadium, Pune"
9,INDIA\nENGLAND,Friday 26 March 13:30 IST,2nd ODI,"Maharashtra Cricket Association Stadium, Pune"
10,INDIA\nENGLAND,Sunday 28 March 13:30 IST,3rd ODI,"Maharashtra Cricket Association Stadium, Pune"
11,ENGLAND\nINDIA,Wednesday 4 August 15:30 IST,1st Test,"Trent Bridge, Nottingham"
12,ENGLAND\nINDIA,Thursday 12 August 15:30 IST,2nd Test,"Lord's, London"
13,ENGLAND\nINDIA,Wednesday 25 August 15:30 IST,3rd Test,"Headingley, Leeds"
14,ENGLAND\nINDIA,Thursday 2 September 15:30 IST,4th Test,"The Oval, London"
15,ENGLAND\nINDIA,Friday 10 September 15:30 IST,5th Test,"Old Trafford, Manchester"

# ***QUES3..... Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [30]:
url_4="http://statisticstimes.com/"

In [31]:
driver.get(url_4)

In [32]:
Rank=[]
State =[]
GDP=[]
GSDP_Current=[]
GSDP_Previous=[]
Share=[]

In [33]:
economy = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button')       
economy.click()

In [34]:
ind = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')       
ind.click()

In [35]:
gdp = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')       
gdp.click()

In [36]:
r=driver.find_elements_by_xpath("//td[@class='data1']")
for i in r:
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)
print(len(Rank),Rank)

68 ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '']

In [37]:
St=driver.find_elements_by_xpath("//td[@class='name']")
for i in St:
    if i.text is None :
        State.append("--") 
    else:
        State.append(i.text)
print(len(State),State)

68 ['Maharashtra', 'Uttar Pradesh', 'Tamil Nadu', 'Karnataka', 'Gujarat', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Punjab', 'Odisha', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Nagaland', 'Arunachal Pradesh', 'Mizoram', 'Andaman & Nicobar Islands', 'India', 'Maharashtra', 'Uttar Pradesh', 'Tamil Nadu', 'Karnataka', 'Gujarat', 'West Bengal', 'Rajasthan', 'Telangana', 'Andhra Pradesh', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Punjab', 'Odisha', 'Assam', 'Jharkhand', 'Chhattisgarh', 'Uttarakhand', 'Himachal Pradesh', 'Jammu & Kashmir', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Manipur', 'Sikkim', 'Nagaland', 'Arunachal Pradesh', 'Mizoram', 'Andaman & Nicobar Islands', 'India']

In [38]:
gdp=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]")
for i in gdp:
    if i.text is None :
        GDP.append("--") 
    else:
        GDP.append(i.text)
print(len(GDP),GDP)

33 ['398.145', '252.278', '246.529', '233.552', '227.276', '164.820', '142.543', '130.501', '130.210', '122.431', '118.206', '117.180', '111.024', '80.204', '79.601', '74.437', '47.769', '45.982', '44.945', '37.186', '23.584', '23.265', '11.065', '7.538', '6.369', '5.543', '5.063', '4.344', '4.214', '4.126', '3.721', '2.952', '-']

In [39]:
shr=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]")
for i in shr:
    if i.text is None :
        Share.append("--") 
    else:
        Share.append(i.text)
print(len(Share),Share)

33 ['13.88%', '8.79%', '8.59%', '8.14%', '7.92%', '5.75%', '4.97%', '4.55%', '4.54%', '4.27%', '4.12%', '4.08%', '3.87%', '2.80%', '2.77%', '2.59%', '1.67%', '1.60%', '1.57%', '1.30%', '0.82%', '0.81%', '0.39%', '0.26%', '0.22%', '0.19%', '0.18%', '0.15%', '0.15%', '0.14%', '0.13%', '0.10%', '-']

In [40]:
shr=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]")
for i in shr:
    if i.text is None :
        GSDP_Current.append("--") 
    else:
        GSDP_Current.append(i.text)
print(len(GSDP_Current),GSDP_Current)

33 ['2,632,792', '1,668,229', '1,630,208', '1,544,399', '1,502,899', '1,089,898', '942,586', '862,957', '861,031', '809,592', '781,653', '774,870', '734,163', '530,363', '526,376', '492,229', '315,881', '304,063', '297,204', '245,895', '155,956', '153,845', '73,170', '49,845', '42,114', '36,656', '33,481', '28,723', '27,869', '27,283', '24,603', '19,520', '-']

In [41]:
shr=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[8]")
for i in shr:
    if i.text is None :
        GSDP_Previous.append("--") 
    else:
        GSDP_Previous.append(i.text)
print(len(GSDP_Previous),GSDP_Previous)

33 ['2,039,074', '1,137,469', '1,215,307', '1,124,423', '1,186,379', '739,525', '677,428', '621,301', '612,828', '522,009', '559,412', '590,569', '531,085', '375,651', '397,669', '382,218', '234,048', '231,182', '224,986', '193,273', '112,755', '117,851', '62,539', '36,963', '31,192', '24,442', '24,682', '18,722', '19,300', '17,647', '16,676', '14,524', '-']

In [42]:
State_GDP=pd.DataFrame([])
State_GDP['Rank']=Rank[0:33]
State_GDP['State']=State[0:33]
State_GDP['Share In GDP']=Share[0:33]
State_GDP['GDP of State']=GDP[0:33]
State_GDP['GSDP_Current']=GSDP_Current[0:33]
State_GDP['GSDP_Previous']=GSDP_Previous[0:33]
State_GDP

,Rank,State,Share In GDP,GDP of State,GSDP_Current,GSDP_Previous
0,1,Maharashtra,13.88%,398.145,"2,632,792","2,039,074"
1,2,Uttar Pradesh,8.79%,252.278,"1,668,229","1,137,469"
2,3,Tamil Nadu,8.59%,246.529,"1,630,208","1,215,307"
3,4,Karnataka,8.14%,233.552,"1,544,399","1,124,423"
4,5,Gujarat,7.92%,227.276,"1,502,899","1,186,379"
5,6,West Bengal,5.75%,164.820,"1,089,898","739,525"
6,7,Rajasthan,4.97%,142.543,"942,586","677,428"
7,8,Andhra Pradesh,4.55%,130.501,"862,957","621,301"
8,9,Telangana,4.54%,130.210,"861,031","612,828"
9,10,Madhya Pradesh,4.27%,122.431,"809,592","522,009"
10,11,Kerala,4.12%,118.206,"781,653","559,412"
11,12,Delhi,4.08%,117.180,"774,870","590,569"
12,13,Haryana,3.87%,111.024,"734,163","531,085"
13,14,Bihar,2.80%,80.204,"530,363","375,651"
14,15,Punjab,2.77%,79.601,"526,376","397,669"
15,16,Odisha,2.59%,74.437,"492,229","382,218"
16,17,Assam,1.67%,47.769,"315,881","234,048"
17,18,Chhattisgarh,1.60%,45.982,"304,063","231,182"
18,19,Jharkhand,1.57%,44.945,"297,204","224,986"
19,20,Uttarakhand,1.30%,37.186,"245,895","193,273"
20,21,Jammu & Kashmir,0.82%,23.584,"155,956","112,755"
21,22,Himachal Pradesh,0.81%,23.265,"153,845","117,851"
22,23,Goa,0.39%,11.065,"73,170","62,539"
23,24,Tripura,0.26%,7.538,"49,845","36,963"
24,25,Chandigarh,0.22%,6.369,"42,114","31,192"
25,26,Puducherry,0.19%,5.543,"36,656","24,442"
26,27,Meghalaya,0.18%,5.063,"33,481","24,682"
27,28,Sikkim,0.15%,4.344,"28,723","18,722"
28,29,Manipur,0.15%,4.214,"27,869","19,300"
29,30,Nagaland,0.14%,4.126,"27,283","17,647"
30,31,Arunachal Pradesh,0.13%,3.721,"24,603","16,676"
31,32,Mizoram,0.10%,2.952,"19,520","14,524"
32,33,Andaman & Nicobar Islands,-,-,-,-

# *****QUES4.. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [43]:
url_5="https://github.com/"

In [44]:
driver.get(url_5)

In [45]:
Repository_Name =[]
Language=[]
Muted_Link=[]

In [46]:
explore = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details')       
explore.click()

In [47]:
trending = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]')       
trending.click()

In [48]:
RN=driver.find_elements_by_xpath("//span[@class='text-normal']")
for i in RN:
    if i.text is None :
        Repository_Name.append("--") 
    else:
        Repository_Name.append(i.text)
print(len(Repository_Name),Repository_Name)

25 ['libsdl-org /', 'Azure /', 'system76 /', 'benbjohnson /', 'mbround18 /', 'deepmind /', 'satwikkansal /', 'vlang /', 'serhii-londar /', 'PowerShell /', 'ossu /', 'iptv-org /', 'streamich /', 'Azure /', 'adityatelange /', 'reactend /', 'flybywiresim /', 'Dimbreath /', 'hashicorp /', 'abhishekkrthakur /', 'florisboard /', 'goreleaser /', 'donnemartin /', 'dotnet /', 'reed-hong /']

In [49]:
Description=[]
des=driver.find_elements_by_xpath("//p[@class='col-9 text-gray my-1 pr-4']")
for i in des:
    if i.text is None :
        Description.append("--") 
    else:
        Description.append(i.text)
print(len(Description),Description)

25 ['Simple Directmedia Layer', 'Azure Quickstart Templates', 'System76 Launch Configurable Keyboard', 'Streaming S3 replication for SQLite.', 'Valheim Docker server with Odin the CLI tool.', 'This repository contains implementations and illustrative code to accompany DeepMind publications', 'What the f*ck Python?', 'Simple, fast, safe, compiled language for developing maintainable software. Compiles itself in <1s with zero library dependencies. https://vlang.io', '🚀 Awesome list of open source applications for macOS. https://t.me/opensourcemacosapps', 'PowerShell for every system!', '🎓 Path to a free self-taught education in Computer Science!', 'Collection of 5000+ publicly available IPTV channels from all over the world', 'React Hooks — 👍', 'The source for REST API specifications for Microsoft Azure.', 'A fast, clean, responsive Hugo theme', 'React renderer to build Node.js server', 'The A32NX Project is a community driven open source project to create a free Airbus A320neo in Microsoft Flight Simulator that is as close to reality as possible. It aims to enhance the default A320neo by improving the systems depth and functionality to bring it up to payware-level, all for free.', 'Repository containing the game data for the game Genshin Impact.', 'A tool for secrets management, encryption as a service, and privileged access management', 'Run VSCode (codeserver) on Google Colab or Kaggle Notebooks', 'An open-source keyboard for Android. Currently in alpha/early-beta stage.', 'Deliver Go binaries as fast and easily as possible', 'Learn how to design large-scale systems. Prep for the system design interview. Includes Anki flashcards.', 'ASP.NET Core is a cross-platform .NET framework for building modern cloud-based web applications on Windows, Mac, or Linux.', 'A Curated List of Awesome Facebook Libra Resources']

In [50]:
L=driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")
for i in L:
    if i.text is None :
        Language.append("NAN") 
    else:
        Language.append(i.text)
print(len(Language),Language)

22 ['C', 'PowerShell', 'Shell', 'Go', 'Rust', 'Jupyter Notebook', 'Python', 'V', 'Swift', 'C#', 'JavaScript', 'TypeScript', 'TypeScript', 'HTML', 'JavaScript', 'JavaScript', 'Go', 'Python', 'Kotlin', 'Go', 'Python', 'C#']

In [51]:

ml=driver.find_elements_by_xpath("//a[@class='muted-link d-inline-block mr-3']")
for i in ml:
    if i.text is None :
        Muted_Link.append("NAN") 
    else:
        Muted_Link.append(i.text)
print(len(Muted_Link),Muted_Link)

50 ['420', '22', '9,416', '12,234', '737', '14', '1,922', '32', '70', '12', '5,055', '978', '24,436', '2,095', '22,167', '1,326', '24,625', '1,648', '24,249', '3,923', '74,976', '10,823', '27,557', '861', '19,578', '1,373', '1,052', '2,649', '507', '230', '162', '8', '2,949', '466', '69', '20', '20,024', '2,793', '1,047', '144', '534', '48', '7,013', '503', '120,892', '22,004', '21,023', '6,006', '3,669', '167']

In [52]:
Muted=[]
for i in range(1,len(Muted_Link),2):
    Muted.append(Muted_Link[i])
    
print(len(Muted),Muted)

25 ['22', '12,234', '14', '32', '12', '978', '2,095', '1,326', '1,648', '3,923', '10,823', '861', '1,373', '2,649', '230', '8', '466', '20', '2,793', '144', '48', '503', '22,004', '6,006', '167']

In [53]:
Muted_Star=[]
for i in range(0,len(Muted_Link),2):
    Muted_Star.append(Muted_Link[i])
    
print(len(Muted_Star),Muted_Star)

25 ['420', '9,416', '737', '1,922', '70', '5,055', '24,436', '22,167', '24,625', '24,249', '74,976', '27,557', '19,578', '1,052', '507', '162', '2,949', '69', '20,024', '1,047', '534', '7,013', '120,892', '21,023', '3,669']

In [55]:
Trending_Repository=pd.DataFrame([])
Trending_Repository['Name']=Repository_Name[:22]
Trending_Repository['Description']=Description[:22]
Trending_Repository['Language']=Language[:22]
Trending_Repository['Conutrybuted']=Muted[:22]
Trending_Repository['Muted_Star']=Muted_Star[:22]
Trending_Repository

,Name,Description,Language,Conutrybuted,Muted_Star
0,libsdl-org /,Simple Directmedia Layer,C,22,420
1,Azure /,Azure Quickstart Templates,PowerShell,"12,234","9,416"
2,system76 /,System76 Launch Configurable Keyboard,Shell,14,737
3,benbjohnson /,Streaming S3 replication for SQLite.,Go,32,"1,922"
4,mbround18 /,Valheim Docker server with Odin the CLI tool.,Rust,12,70
5,deepmind /,This repository contains implementations and i...,Jupyter Notebook,978,"5,055"
6,satwikkansal /,What the f*ck Python?,Python,"2,095","24,436"
7,vlang /,"Simple, fast, safe, compiled language for deve...",V,"1,326","22,167"
8,serhii-londar /,🚀 Awesome list of open source applications for...,Swift,"1,648","24,625"
9,PowerShell /,PowerShell for every system!,C#,"3,923","24,249"
10,ossu /,🎓 Path to a free self-taught education in Comp...,JavaScript,"10,823","74,976"
11,iptv-org /,Collection of 5000+ publicly available IPTV ch...,TypeScript,861,"27,557"
12,streamich /,React Hooks — 👍,TypeScript,"1,373","19,578"
13,Azure /,The source for REST API specifications for Mic...,HTML,"2,649","1,052"
14,adityatelange /,"A fast, clean, responsive Hugo theme",JavaScript,230,507
15,reactend /,React renderer to build Node.js server,JavaScript,8,162
16,flybywiresim /,The A32NX Project is a community driven open s...,Go,466,"2,949"
17,Dimbreath /,Repository containing the game data for the ga...,Python,20,69
18,hashicorp /,"A tool for secrets management, encryption as a...",Kotlin,"2,793","20,024"
19,abhishekkrthakur /,Run VSCode (codeserver) on Google Colab or Kag...,Go,144,"1,047"
20,florisboard /,An open-source keyboard for Android. Currently...,Python,48,534
21,goreleaser /,Deliver Go binaries as fast and easily as poss...,C#,503,"7,013"

# ****QUES5.... Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [56]:
url_6="https://www.billboard.com/"

In [57]:
driver.get(url_6)

In [58]:
Song_Name =[]
Singer=[]
rank=[]
Last_Week=[]
Weeks_on_board=[]

In [59]:
top100 = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[3]')       
top100.click()

In [60]:
rb=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in rb:
    if i.text is None :
        rank.append("--") 
    else:
        rank.append(i.text)
print(len(rank),rank)

100 ['1', '1', '1', '2', '5', '5', '1', '8', '3', '10', '9', '12', '13', '2', '6', '8', '15', '18', '3', '12', '5', '6', '23', '2', '25', '9', '27', '6', '1', '29', '31', '32', '24', '9', '6', '25', '37', '15', '39', '40', '13', '39', '43', '1', '29', '1', '47', '25', '2', '50', '51', '47', '53', '54', '53', '56', '57', '58', '39', '60', '61', '62', '63', '64', '65', '34', '52', '2', '58', '53', '71', '72', '22', '74', '75', '45', '46', '59', '42', '37', '81', '82', '83', '42', '8', '86', '73', '88', '48', '82', '91', '92', '87', '62', '62', '96', '54', '62', '95', '10']

In [61]:
son=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in son:
    if i.text is None :
        Song_Name.append("--") 
    else:
        Song_Name.append(i.text)
print(len(Song_Name),Song_Name)

100 ['Drivers License', 'Mood', 'Blinding Lights', '34+35', 'Levitating', 'Go Crazy', 'Positions', 'Save Your Tears', 'Holy', 'Whoopty', 'Good Days', 'Lonely', 'What You Know Bout Love', 'Therefore I Am', 'For The Night', 'Bang!', 'Better Together', 'Streets', 'I Hope', 'Body', 'Dakiti', 'Lemonade', 'You Broke Me First.', 'Laugh Now Cry Later', "My Ex's Best Friend", 'Wasted On You', "You're Mines Still", 'Anyone', 'Willow', 'On Me', 'Good Time', 'Sand In My Boots', 'Throat Baby (Go Baby)', 'Before You Go', '7 Summers', 'Starting Over', 'Back In Blood', 'More Than My Hometown', 'Finesse Out The Gang Way', 'Hole In The Bottle', 'Kings & Queens', 'Best Friend', 'Cry Baby', 'Rockstar', 'Afterglow', 'Dynamite', 'Happy Does', "Somebody's Problem", 'Whats Poppin', 'Put Your Records On', 'Damage', 'Without You', "Should've Ducked", 'Just The Way', 'Beers And Sunshine', 'Down To One', "What's Your Country Song", 'Beat Box', 'Diamonds', 'The Good Ones', 'Golden', 'Buss It', 'Goosebumps', 'Monsters', 'Long Live', 'Tyler Herro', 'Cover Me Up', 'Forever After All', 'Back To The Streets', "Still Trappin'", 'Gravity', 'Bichota', 'Bad Boy', 'Baila Conmigo', 'Lady', 'Still Goin Down', '865', 'So Done', 'Warning', 'Holiday', 'Hell Of A View', 'Girl Like Me', "Momma's House", 'Big, Big Plans', 'Monster', 'Heat Waves', 'Stay Down', 'Somebody Like That', 'Skin', 'Moonwalking In Calabasas', 'Kanye Krazy', 'Pick Up Your Feelings', 'You Got It', 'One Too Many', 'Backdoor', 'Fake Woke', 'Prisoner', 'Dangerous', 'Almost Maybes', 'Mr. Right Now']

In [62]:
sin=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in sin:
    if i.text is None :
        Singer.append("--") 
    else:
        Singer.append(i.text)
print(len(Singer),Singer)

100 ['Olivia Rodrigo', '24kGoldn Featuring iann dior', 'The Weeknd', 'Ariana Grande', 'Dua Lipa Featuring DaBaby', 'Chris Brown & Young Thug', 'Ariana Grande', 'The Weeknd', 'Justin Bieber Featuring Chance The Rapper', 'CJ', 'SZA', 'Justin Bieber & benny blanco', 'Pop Smoke', 'Billie Eilish', 'Pop Smoke Featuring Lil Baby & DaBaby', 'AJR', 'Luke Combs', 'Doja Cat', 'Gabby Barrett Featuring Charlie Puth', 'Megan Thee Stallion', 'Bad Bunny & Jhay Cortez', 'Internet Money & Gunna Featuring Don Toliver & NAV', 'Tate McRae', 'Drake Featuring Lil Durk', 'Machine Gun Kelly X blackbear', 'Morgan Wallen', 'Yung Bleu Featuring Drake', 'Justin Bieber', 'Taylor Swift', 'Lil Baby', 'Niko Moon', 'Morgan Wallen', 'BRS Kash', 'Lewis Capaldi', 'Morgan Wallen', 'Chris Stapleton', 'Pooh Shiesty Featuring Lil Durk', 'Morgan Wallen', 'Lil Durk Featuring Lil Baby', 'Kelsea Ballerini', 'Ava Max', 'Saweetie Featuring Doja Cat', 'Megan Thee Stallion Featuring DaBaby', 'DaBaby Featuring Roddy Ricch', 'Ed Sheeran', 'BTS', 'Kenny Chesney', 'Morgan Wallen', 'Jack Harlow Featuring DaBaby, Tory Lanez & Lil Wayne', 'Ritt Momney', 'H.E.R.', 'The Kid LAROI', 'Lil Durk Featuring Pooh Shiesty', 'Parmalee x Blanco Brown', 'Darius Rucker', 'Luke Bryan', 'Thomas Rhett', 'SpotemGottem', 'Sam Smith', 'Gabby Barrett', 'Harry Styles', 'Erica Banks', 'Travis Scott & HVME', 'All Time Low Featuring Demi Lovato & blackbear', 'Florida Georgia Line', 'Jack Harlow', 'Morgan Wallen', 'Luke Combs', 'Saweetie Featuring Jhene Aiko', 'Lil Durk & King Von', 'Brent Faiyaz & DJ Dahi Featuring Tyler, The Creator', 'Karol G', 'Juice WRLD & Young Thug', 'Selena Gomez With Rauw Alejandro', 'Brett Young', 'Morgan Wallen', 'Morgan Wallen', 'The Kid LAROI', 'Morgan Wallen', 'Lil Nas X', 'Eric Church', 'Black Eyed Peas X Shakira', 'Dustin Lynch', 'Chris Lane', 'Shawn Mendes & Justin Bieber', 'Glass Animals', 'Lil Durk, 6LACK & Young Thug', 'Tenille Arts', 'Sabrina Carpenter', 'DDG', 'Lil Durk', 'Jazmine Sullivan', 'VEDO', 'Keith Urban Duet With P!nk', 'Lil Durk', 'Tom MacDonald', 'Miley Cyrus Featuring Dua Lipa', 'Morgan Wallen', 'Jordan Davis', '21 Savage & Metro Boomin Featuring Drake']

In [63]:
lwr=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lwr:
    if i.text is None :
        Last_Week.append("--") 
    else:
        Last_Week.append(i.text)
print(len(Last_Week),Last_Week)

100 ['1', '2', '3', '4', '5', '6', '7', '14', '8', '16', '9', '13', '19', '12', '11', '10', '15', '25', '17', '18', '20', '21', '27', '22', '34', '31', '32', '26', '28', '29', '37', '38', '24', '33', '23', '36', '40', '30', '-', '42', '35', '45', '54', '41', '39', '46', '50', '43', '44', '55', '52', '47', '-', '56', '53', '58', '59', '60', '49', '64', '65', '67', '73', '69', '68', '63', '74', '66', '61', '84', '-', '75', '57', '-', '86', '72', '77', '79', '76', '71', '90', '85', '87', '82', '70', '91', '-', '89', '48', '88', '-', '-', '95', '96', '-', '-', '81', '-', '-', '80']

In [64]:
wob=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in wob:
    if i.text is None :
        Weeks_on_board.append("--") 
    else:
        Weeks_on_board.append(i.text)
print(len(Weeks_on_board),Weeks_on_board)

100 ['4', '26', '61', '14', '18', '39', '15', '8', '20', '13', '6', '16', '22', '13', '31', '31', '18', '4', '58', '11', '14', '25', '24', '25', '25', '4', '9', '5', '8', '9', '18', '4', '16', '50', '24', '23', '5', '32', '1', '16', '26', '4', '9', '41', '7', '24', '12', '8', '51', '16', '8', '9', '1', '6', '8', '6', '7', '3', '20', '6', '15', '4', '3', '6', '5', '15', '5', '15', '11', '6', '1', '10', '3', '1', '4', '7', '4', '13', '4', '12', '4', '4', '4', '18', '11', '3', '4', '3', '2', '6', '1', '2', '6', '8', '4', '1', '11', '3', '2', '18']

In [65]:
Top_Song=pd.DataFrame([])
Top_Song['Peak_rank']=rank
Top_Song['Song_Name']=Song_Name
Top_Song['Singer / Crew']=Singer
Top_Song['Last_Week_Rank']=Last_Week
Top_Song['Weeks_on_board']=Weeks_on_board
Top_Song

,Peak_rank,Song_Name,Singer / Crew,Last_Week_Rank,Weeks_on_board
0,1,Drivers License,Olivia Rodrigo,1,4
1,1,Mood,24kGoldn Featuring iann dior,2,26
2,1,Blinding Lights,The Weeknd,3,61
3,2,34+35,Ariana Grande,4,14
4,5,Levitating,Dua Lipa Featuring DaBaby,5,18
...,...,...,...,...,...
95,96,Fake Woke,Tom MacDonald,-,1
96,54,Prisoner,Miley Cyrus Featuring Dua Lipa,81,11
97,62,Dangerous,Morgan Wallen,-,3
98,95,Almost Maybes,Jordan Davis,-,2
99,10,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,18

# ***QUES9...Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location

In [66]:
url_7="https://www.naukri.com/data-science-jobs?k=data%20science"

In [67]:
driver.get(url_7)

In [68]:
Job_Title =[]
Company_Name=[]
Skill=[]
Salary=[]
Location=[]

In [69]:
 jt=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in jt:
    if i.text is None :
        Job_Title.append("--") 
    else:
        Job_Title.append(i.text)
print(len(Job_Title),Job_Title)

20 ['Data Science/AIML Intern', 'Machine Learning-Python, AI / ML developer, Data Science', 'Data Science', 'Data Science Engineer - Statistical Modeling/ Machine Learning', 'Full Stack Data Science Engineer - Machine Learning/Deep Learning', 'Data Science', 'Data Science Engineer', 'Data Science Team Lead - Retail', 'Data Science - Team Lead (CRM)', 'BI Analyst ( Data Science )', 'Urgently Hiring Trainee - Data Science :: Hitech Isolutions LLP!!!!', 'Data Science Engineer - Java / Python / R Developer', 'Data Science', 'Senior Manager Ops Data Science', 'Trainer: Machine Learning, Data Science,Internet of Things,3D Printing', 'Senior Data Scientist - Data Sciences', 'Online Faculty For Data Science & Business Analytics', 'Freshers/Internship - Data Science/ Machine Learning / AI', 'Senior Analytics Consultant-Data Science-Pune', 'Data Science Engineer,SMART MFG & AI']

In [70]:
cn=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in cn:
    if i.text is None :
        Company_Name.append("--") 
    else:
        Company_Name.append(i.text)
print(len(Company_Name),Company_Name)

20 ['Hewlett Packard Enterprise', 'Infomize Technologies', 'Capgemini Technology Services India Limited', 'Lera Technologies Pvt. Ltd', 'Thinkbridge', 'Diverse Lynx', 'Everwell Health Solutions Pvt Ltd', 'Shell India Markets Private Limited', 'Shell India Markets Private Limited', 'American Bureau of Shipping', 'Hi-Tech iSolutions LLP', 'Intellicar Telematics Pvt Ltd', 'Cybage', 'RANDSTAD INDIA PVT LTD', 'SYMBIOSIS SKILLS AND PROFESSIONAL UNIVERSITY', 'GEP', 'LINC Education', 'IIBM', 'eClerx Services Ltd.', 'Micron Semiconductor Asia Pte Ltd']

In [71]:
sal=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']/span")
for i in sal:
    if i.text is None :
        Salary.append("--") 
    else:
        Salary.append(i.text)
print(len(Salary),Salary)

20 ['Not disclosed', '2,00,000 - 7,00,000 PA.', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', '50,000 - 3,00,000 PA.', 'Not disclosed', 'Not disclosed', '18,00,000 - 30,00,000 PA.', '50,000 - 1,00,000 PA.', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed']

In [72]:
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in loc:
    if i.text is None :
        Location.append("--") 
    else:
        Location.append(i.text)
print(len(Location),Location)

20 ['Bengaluru', 'Ahmedabad', 'Chennai', 'India', 'India', 'Gurgaon', 'Bengaluru', 'Bengaluru', 'Bengaluru', 'Chennai', 'Ahmedabad', 'Bengaluru', 'Pune', 'Bengaluru', 'Pune(Kiwale)', 'Hyderabad', 'Pune, Mumbai, Bengaluru', 'Chennai, Hyderabad', 'Pune', 'Hyderabad']

In [73]:
sk=driver.find_elements_by_xpath("//ul[@class='tags has-description']")
for i in sk:
    if i.text is None :
        Skill.append("--") 
    else:
        Skill.append(i.text)
print(len(Skill),Skill)

20 ['IT Skills\nPython\nTesting\nMachine Learning\nComputer science\nBusiness objects\nData analysis\ndata science', 'Data Processing\nIT Skills\nJava\nTensorflow\nArtificial Intelligence\nNatural Language Processing\nData Analysis\nData Extraction', 'IT Skills\nPython\nTesting\nData Science\nsoftware architecture\ndeep learning\nData analysis\ndata science', 'IT Skills\nPython\nMachine Learning\nArtificial Intelligence\nData Science\nPredictive Modeling\nData Scientist\nArtificial Intelligence', 'IT Skills\nPython\nTesting\nCloud\nAWS\nTableau\nPower BI\nAzure', 'IT Skills\nPython\nData Science\nMachine Learning\nSupply chain\nData analysis\nPrototype\nConsulting', 'IT Skills\nPython\nBig Data\nProduct management\nComputer science\nData analysis\nData modeling\nHealthcare', 'Multivariate Analysis\nData Science\nR\nFactor Analysis\nBI\nMarket Basket Analysis\nTime Series\nData Analytics', 'Direct Marketing\nR\nFactor Analysis\nTeam Management Skills\nCustomer Analytics\nTime Series\nMarket Basket Analysis\nMachine Learning', 'Microstrategy\nBusiness objects\nSAP\nSAS\nTIBCO\nTeradata\nBusiness intelligence\nmicrosoft', 'Data Science', 'Data Science\nJava\nHive\nR\nScala\nSpark\nmachine learning\nstatistical analysis', 'IT Skills\nData Science\nMachine Learning\nStatistical programming\nData analysis\nStatistical modeling\nSAS\ndata science', 'Project Management\nArtificial Intelligence\nPerformance Metrics\nStudent Engagement\nSales\nExecution\nSenior Management\nPeople Management', 'Data Science\n3D Printing\nMachine Learning\nBig Data Analytics\nSoftware Development\nArtificial Intelligence\nInternet of Things -IOT', 'Procurement\nComputer science\nCoding\nAnalytical\nMachine learning\nMongoDB\nOpen source\nPython', 'Business Analytics\nteaching\nData Science\nBig Data Analytics\nData Science Faculty\neducation\nData Wrangling\nuniversity', 'IT Skills\nPython\nData Science\nr\nArtificial Intelligence\nNatural Language Processing\nMachine Learning\nPython', 'Data Science\nPredictive Modeling\nNetwork Planning\nInventory Planning\nDemand Planning\nForecasting\nAnalytics\nPython', 'SQL Server\nData Science Engineer\nSAP\nSAP HANA\nPower BI\nSSIS\nJDA\nSalesforce']

In [74]:
JOB=pd.DataFrame([])
JOB['Job_Title']=Job_Title
JOB['Skill']=Skill
JOB['Company_Name']=Company_Name
JOB['Salary']=Salary
JOB['Location']=Location
JOB

,Job_Title,Skill,Company_Name,Salary,Location
0,Data Science/AIML Intern,IT Skills\nPython\nTesting\nMachine Learning\n...,Hewlett Packard Enterprise,Not disclosed,Bengaluru
1,"Machine Learning-Python, AI / ML developer, Da...",Data Processing\nIT Skills\nJava\nTensorflow\n...,Infomize Technologies,"2,00,000 - 7,00,000 PA.",Ahmedabad
2,Data Science,IT Skills\nPython\nTesting\nData Science\nsoft...,Capgemini Technology Services India Limited,Not disclosed,Chennai
3,Data Science Engineer - Statistical Modeling/ ...,IT Skills\nPython\nMachine Learning\nArtificia...,Lera Technologies Pvt. Ltd,Not disclosed,India
4,Full Stack Data Science Engineer - Machine Lea...,IT Skills\nPython\nTesting\nCloud\nAWS\nTablea...,Thinkbridge,Not disclosed,India
5,Data Science,IT Skills\nPython\nData Science\nMachine Learn...,Diverse Lynx,Not disclosed,Gurgaon
6,Data Science Engineer,IT Skills\nPython\nBig Data\nProduct managemen...,Everwell Health Solutions Pvt Ltd,Not disclosed,Bengaluru
7,Data Science Team Lead - Retail,Multivariate Analysis\nData Science\nR\nFactor...,Shell India Markets Private Limited,Not disclosed,Bengaluru
8,Data Science - Team Lead (CRM),Direct Marketing\nR\nFactor Analysis\nTeam Man...,Shell India Markets Private Limited,Not disclosed,Bengaluru
9,BI Analyst ( Data Science ),Microstrategy\nBusiness objects\nSAP\nSAS\nTIB...,American Bureau of Shipping,Not disclosed,Chennai
10,Urgently Hiring Trainee - Data Science :: Hite...,Data Science,Hi-Tech iSolutions LLP,"50,000 - 3,00,000 PA.",Ahmedabad
11,Data Science Engineer - Java / Python / R Deve...,Data Science\nJava\nHive\nR\nScala\nSpark\nmac...,Intellicar Telematics Pvt Ltd,Not disclosed,Bengaluru
12,Data Science,IT Skills\nData Science\nMachine Learning\nSta...,Cybage,Not disclosed,Pune
13,Senior Manager Ops Data Science,Project Management\nArtificial Intelligence\nP...,RANDSTAD INDIA PVT LTD,"18,00,000 - 30,00,000 PA.",Bengaluru
14,"Trainer: Machine Learning, Data Science,Intern...",Data Science\n3D Printing\nMachine Learning\nB...,SYMBIOSIS SKILLS AND PROFESSIONAL UNIVERSITY,"50,000 - 1,00,000 PA.",Pune(Kiwale)
15,Senior Data Scientist - Data Sciences,Procurement\nComputer science\nCoding\nAnalyti...,GEP,Not disclosed,Hyderabad
16,Online Faculty For Data Science & Business Ana...,Business Analytics\nteaching\nData Science\nBi...,LINC Education,Not disclosed,"Pune, Mumbai, Bengaluru"
17,Freshers/Internship - Data Science/ Machine Le...,IT Skills\nPython\nData Science\nr\nArtificial...,IIBM,Not disclosed,"Chennai, Hyderabad"
18,Senior Analytics Consultant-Data Science-Pune,Data Science\nPredictive Modeling\nNetwork Pla...,eClerx Services Ltd.,Not disclosed,Pune
19,"Data Science Engineer,SMART MFG & AI",SQL Server\nData Science Engineer\nSAP\nSAP HA...,Micron Semiconductor Asia Pte Ltd,Not disclosed,Hyderabad

# ****QUES7....Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location

In [84]:
url_9="https://www.imdb.com/list/ls095964455/"

In [85]:
driver.get(url_9)

In [86]:
Name=[]
Year_span=[]
Genres=[]
Run_time=[]
Ratings=[]
Votes=[]

In [87]:
mname=driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a")
for i in mname:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
print(len(Name),Name)

100 ['Game of Thrones', 'Stranger Things', 'The Walking Dead', '13 Reasons Why', 'The 100', 'Orange Is the New Black', 'Riverdale', "Grey's Anatomy", 'The Flash', 'Arrow', 'Money Heist', 'The Big Bang Theory', 'Black Mirror', 'Sherlock', 'Vikings', 'Pretty Little Liars', 'The Vampire Diaries', 'American Horror Story', 'Breaking Bad', 'Lucifer', 'Supernatural', 'Prison Break', 'How to Get Away with Murder', 'Teen Wolf', 'The Simpsons', 'Once Upon a Time', 'Narcos', 'Daredevil', 'Friends', 'How I Met Your Mother', 'Suits', 'Mr. Robot', 'The Originals', 'Supergirl', 'Gossip Girl', 'Sense8', 'Gotham', 'Westworld', 'Jessica Jones', 'Modern Family', 'Rick and Morty', 'Shadowhunters', 'The End of the F***ing World', 'House of Cards', 'Dark', 'Elite', 'Sex Education', 'Shameless', 'New Girl', 'Agents of S.H.I.E.L.D.', 'You', 'Dexter', 'Fear the Walking Dead', 'Family Guy', 'The Blacklist', 'Lost', 'Peaky Blinders', 'House', 'Quantico', 'Orphan Black', 'Homeland', 'Blindspot', "DC's Legends of Tomorrow", "The Handmaid's Tale", 'Chilling Adventures of Sabrina', 'The Good Doctor', 'Jane the Virgin', 'Glee', 'South Park', 'Brooklyn Nine-Nine', 'Under the Dome', 'The Umbrella Academy', 'True Detective', 'The OA', 'Desperate Housewives', 'Better Call Saul', 'Bates Motel', 'The Punisher', 'Atypical', 'Dynasty', 'This Is Us', 'The Good Place', 'Iron Fist', 'The Rain', 'Mindhunter', 'Revenge', 'Luke Cage', 'Scandal', 'The Defenders', 'Big Little Lies', 'Insatiable', 'The Mentalist', 'The Crown', 'Chernobyl', 'iZombie', 'Reign', 'A Series of Unfortunate Events', 'Criminal Minds', 'Scream: The TV Series', 'The Haunting of Hill House']

In [88]:
ys=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in ys:
    if i.text is None :
        Year_span.append("--") 
    else:
        Year_span.append(i.text)
print(len(Year_span),Year_span)

100 ['(2011–2019)', '(2016– )', '(2010– )', '(2017–2020)', '(2014–2020)', '(2013–2019)', '(2017– )', '(2005– )', '(2014– )', '(2012–2020)', '(2017– )', '(2007–2019)', '(2011– )', '(2010–2017)', '(2013–2020)', '(2010–2017)', '(2009–2017)', '(2011– )', '(2008–2013)', '(2016– )', '(2005–2020)', '(2005–2017)', '(2014–2020)', '(2011–2017)', '(1989– )', '(2011–2018)', '(2015–2017)', '(2015–2018)', '(1994–2004)', '(2005–2014)', '(2011–2019)', '(2015–2019)', '(2013–2018)', '(2015–2021)', '(2007–2012)', '(2015–2018)', '(2014–2019)', '(2016– )', '(2015–2019)', '(2009–2020)', '(2013– )', '(2016–2019)', '(2017–2019)', '(2013–2018)', '(2017–2020)', '(2018– )', '(2019– )', '(2011–2021)', '(2011–2018)', '(2013–2020)', '(2018– )', '(2006–2021)', '(2015– )', '(1999– )', '(2013– )', '(2004–2010)', '(2013– )', '(2004–2012)', '(2015–2018)', '(2013–2017)', '(2011–2020)', '(2015–2020)', '(2016– )', '(2017– )', '(2018–2020)', '(2017– )', '(2014–2019)', '(2009–2015)', '(1997– )', '(2013–2022)', '(2013–2015)', '(2019– )', '(2014– )', '(2016–2019)', '(2004–2012)', '(2015–2021)', '(2013–2017)', '(2017–2019)', '(2017–2021)', '(2017– )', '(2016– )', '(2016–2020)', '(2017–2018)', '(2018–2020)', '(2017–2019)', '(2011–2015)', '(2016–2018)', '(2012–2018)', '(2017)', '(2017–2019)', '(2018–2019)', '(2008–2015)', '(2016– )', '(2019)', '(2015–2019)', '(2013–2017)', '(2017–2019)', '(2005–2020)', '(2015–2019)', '(2018)']

In [89]:
gnr=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
for i in gnr:
    if i.text is None :
        Genres.append("--") 
    else:
        Genres.append(i.text)
print(len(Genres),Genres)

100 ['Action, Adventure, Drama', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Drama, Mystery, Thriller', 'Drama, Mystery, Sci-Fi', 'Comedy, Crime, Drama', 'Crime, Drama, Mystery', 'Drama, Romance', 'Action, Adventure, Drama', 'Action, Adventure, Crime', 'Action, Crime, Mystery', 'Comedy, Romance', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Mystery', 'Action, Adventure, Drama', 'Drama, Mystery, Romance', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Crime, Drama, Thriller', 'Crime, Drama, Fantasy', 'Drama, Fantasy, Horror', 'Action, Crime, Drama', 'Crime, Drama, Mystery', 'Action, Drama, Fantasy', 'Animation, Comedy', 'Adventure, Fantasy, Romance', 'Biography, Crime, Drama', 'Action, Crime, Drama', 'Comedy, Romance', 'Comedy, Romance', 'Comedy, Drama', 'Crime, Drama, Thriller', 'Drama, Fantasy, Horror', 'Action, Adventure, Drama', 'Drama, Romance', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Comedy, Drama, Romance', 'Animation, Adventure, Comedy', 'Action, Drama, Fantasy', 'Adventure, Comedy, Crime', 'Drama', 'Crime, Drama, Mystery', 'Crime, Drama, Thriller', 'Comedy, Drama', 'Comedy, Drama', 'Comedy', 'Action, Adventure, Drama', 'Crime, Drama, Romance', 'Crime, Drama, Mystery', 'Drama, Horror, Sci-Fi', 'Animation, Comedy', 'Crime, Drama, Mystery', 'Adventure, Drama, Fantasy', 'Crime, Drama', 'Drama, Mystery', 'Crime, Drama, Mystery', 'Action, Drama, Sci-Fi', 'Crime, Drama, Mystery', 'Action, Crime, Drama', 'Action, Adventure, Drama', 'Drama, Sci-Fi, Thriller', 'Drama, Fantasy, Horror', 'Drama', 'Comedy', 'Comedy, Drama, Music', 'Animation, Comedy', 'Comedy, Crime', 'Drama, Mystery, Sci-Fi', 'Action, Adventure, Comedy', 'Crime, Drama, Mystery', 'Drama, Fantasy, Mystery', 'Comedy, Drama, Mystery', 'Crime, Drama', 'Drama, Horror, Mystery', 'Action, Crime, Drama', 'Comedy, Drama', 'Drama', 'Comedy, Drama, Romance', 'Comedy, Drama, Fantasy', 'Action, Adventure, Crime', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Thriller', 'Drama, Mystery, Thriller', 'Action, Crime, Drama', 'Drama, Thriller', 'Action, Adventure, Crime', 'Crime, Drama, Mystery', 'Comedy, Drama, Thriller', 'Crime, Drama, Mystery', 'Biography, Drama, History', 'Drama, History, Thriller', 'Comedy, Crime, Drama', 'Drama, Fantasy', 'Adventure, Comedy, Drama', 'Crime, Drama, Mystery', 'Crime, Drama, Horror', 'Drama, Horror, Mystery']

In [90]:
rt=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
for i in rt:
    if i.text is None :
        Run_time.append("--") 
    else:
        Run_time.append(i.text)
print(len(Run_time),Run_time)

100 ['57 min', '51 min', '44 min', '60 min', '43 min', '59 min', '45 min', '41 min', '43 min', '42 min', '70 min', '22 min', '60 min', '88 min', '44 min', '44 min', '43 min', '60 min', '49 min', '42 min', '44 min', '44 min', '43 min', '41 min', '22 min', '60 min', '49 min', '54 min', '22 min', '22 min', '44 min', '49 min', '45 min', '43 min', '42 min', '60 min', '42 min', '62 min', '56 min', '22 min', '23 min', '42 min', '25 min', '51 min', '60 min', '60 min', '45 min', '46 min', '22 min', '45 min', '45 min', '53 min', '44 min', '22 min', '43 min', '44 min', '60 min', '44 min', '42 min', '44 min', '55 min', '42 min', '42 min', '60 min', '60 min', '41 min', '60 min', '44 min', '22 min', '22 min', '43 min', '60 min', '55 min', '60 min', '45 min', '46 min', '45 min', '53 min', '30 min', '42 min', '45 min', '22 min', '55 min', '45 min', '60 min', '44 min', '55 min', '43 min', '50 min', '60 min', '45 min', '43 min', '58 min', '330 min', '42 min', '42 min', '50 min', '42 min', '45 min', '572 min']

In [91]:
rate=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in rate:
    if i.text is None :
        Ratings.append("--") 
    else:
        Ratings.append(i.text)
print(len(Ratings),Ratings)

100 ['9.3', '8.7', '8.2', '7.6', '7.6', '8.1', '6.9', '7.6', '7.7', '7.5', '8.3', '8.1', '8.8', '9.1', '8.5', '7.4', '7.7', '8', '9.5', '8.1', '8.4', '8.3', '8.1', '7.6', '8.7', '7.7', '8.8', '8.6', '8.9', '8.3', '8.5', '8.6', '8.2', '6.3', '7.4', '8.3', '7.8', '8.6', '7.9', '8.4', '9.2', '6.6', '8.1', '8.7', '8.8', '7.6', '8.3', '8.6', '7.7', '7.5', '7.7', '8.6', '6.9', '8.1', '8', '8.3', '8.8', '8.7', '6.7', '8.3', '8.3', '7.4', '6.8', '8.4', '7.5', '8.2', '7.8', '6.7', '8.7', '8.4', '6.6', '8', '9', '7.8', '7.5', '8.7', '8.2', '8.5', '8.3', '7.3', '8.7', '8.2', '6.5', '6.3', '8.6', '7.8', '7.3', '7.7', '7.3', '8.5', '6.5', '8.1', '8.7', '9.4', '7.8', '7.5', '7.8', '8.1', '7.2', '8.6']

In [92]:
v=driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")
for i in v:
    if i.text is None :
        Votes.append("--") 
    else:
        Votes.append(i.text)
print(len(Votes),Votes)

100 ['1,769,233', '821,635', '853,072', '256,113', '216,348', '278,856', '117,899', '250,776', '305,181', '407,564', '297,878', '722,994', '444,293', '806,945', '431,900', '152,221', '282,921', '277,394', '1,464,320', '232,277', '392,480', '476,193', '129,236', '126,721', '365,570', '208,536', '357,416', '362,447', '827,169', '602,614', '363,473', '333,236', '117,471', '111,147', '154,306', '139,380', '211,829', '428,010', '193,178', '355,035', '375,544', '53,291', '145,873', '466,799', '283,547', '48,131', '158,002', '203,085', '192,273', '199,706', '143,376', '646,228', '112,413', '304,550', '197,104', '495,446', '348,052', '414,569', '57,195', '101,357', '312,706', '66,628', '91,944', '171,996', '77,461', '62,811', '38,745', '136,690', '331,433', '225,169', '101,168', '158,818', '499,232', '90,530', '115,632', '323,679', '96,965', '184,269', '60,233', '14,818', '106,384', '114,922', '114,697', '30,800', '216,929', '112,514', '116,798', '67,246', '90,775', '156,411', '22,561', '165,443', '149,259', '541,112', '60,460', '43,572', '53,853', '161,105', '34,082', '182,229']

In [93]:
TV_Series=pd.DataFrame([])
TV_Series['Name']=Name
TV_Series['Year_span']=Year_span
TV_Series['Run_time']=Run_time
TV_Series['Genres']=Genres
TV_Series['Ratings']=Ratings
TV_Series['Votes']=Votes
TV_Series

,Name,Year_span,Run_time,Genres,Ratings,Votes
0,Game of Thrones,(2011–2019),57 min,"Action, Adventure, Drama",9.3,"1,769,233"
1,Stranger Things,(2016– ),51 min,"Drama, Fantasy, Horror",8.7,"821,635"
2,The Walking Dead,(2010– ),44 min,"Drama, Horror, Thriller",8.2,"853,072"
3,13 Reasons Why,(2017–2020),60 min,"Drama, Mystery, Thriller",7.6,"256,113"
4,The 100,(2014–2020),43 min,"Drama, Mystery, Sci-Fi",7.6,"216,348"
...,...,...,...,...,...,...
95,Reign,(2013–2017),42 min,"Drama, Fantasy",7.5,"43,572"
96,A Series of Unfortunate Events,(2017–2019),50 min,"Adventure, Comedy, Drama",7.8,"53,853"
97,Criminal Minds,(2005–2020),42 min,"Crime, Drama, Mystery",8.1,"161,105"
98,Scream: The TV Series,(2015–2019),45 min,"Crime, Drama, Horror",7.2,"34,082"
99,The Haunting of Hill House,(2018),572 min,"Drama, Horror, Mystery",8.6,"182,229"